* {
    padding: 0px;
    margin: 0px;
    border: none;
}

*,
*::before,
*::after 
{
    box-sizing: border-box;
}

a, a:link, a:visited 
{
    text-decoration: none; 
}

img, svg 
{
    max-width: 100%;
    height: auto;
}

input, textarea, button, select 
{
    font-size: inherit;
    background-color: transparent;
}